html, body{
    margin: 0;
    padding: 0;
}
form{
    font-size: 1.5em;
    font-family: 'Archivo Black', sans-serif;
    display: block;
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: #d1fad1;
    border: 3px solid green;
    border-radius: 15%; 
    width: 350px;
    height: 260px;
    padding: 1em;
    padding-left: 3.5em;
}
input{
     border-radius: 25px; 
     width: 80%;
     height: 1.5em;
}
p{
    margin-bottom: 1px;
}
.loader {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
button{
    font-size: 20px;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 25px 25px 0 0; 
    cursor: pointer;
    width: 80%;
}
button:hover{
    opacity: 0.5;
    text-shadow: 2px 2px black;
}

#p1, #p2, #p3{
    text-align: center;
    font-family: 'Archivo Black', sans-serif; 
}
#p4{
    display: block;
    position: absolute;
    top: 61.5%;
    left: 32%;
}
.raudonas, .geltonas, .zalias {
    display: block;
    position: absolute;
    top: 60%;
    left: 30%;
    width: 464px;
    height: 50px;
    border-radius: 15px;
    padding-top: 20px;
}
.raudonas{
    background-color:	#f07575;
    border: 3px solid red;
}
.geltonas{
    background-color:	#f7f7ba;
    border: 3px solid yellow;
}
.zalias{
    background-color:	#baf7ba;
    border: 3px solid green;
}
